<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sloan.music.platform.spider.dao.db.Music163SongMapper">

    <resultMap id="Music163PlayListMap" type="com.sloan.music.platform.spider.model.entity.music163.Music163SongEntity">
        <result property="id" column="id" />
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="imageUrl" column="image_url"/>
        <result property="pubDate" column="pub_date"/>
        <result property="artistId" column="artist_id"/>
        <result property="albumId" column="album_id"/>
    </resultMap>

    <insert id="insert">
        insert into `music163_song`(`id`,`title`,`url`,`image_url`,`pub_date`,`artist_id`,`album_id`)
        values (#{id},#{title},#{url},#{imageUrl},#{pubDate},#{artistId},#{albumId});
    </insert>
</mapper>