<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sloan.music.platform.task.dao.mapper.TaskExecuteRecordMapper">

    <resultMap id="TaskExecuteRecordMap" type="com.sloan.music.platform.task.dao.dataobject.TaskExecuteRecordDO">
        <result property="id" column="id" />
        <result property="taskId" column="task_id"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="minBizId" column="min_biz_id"/>
        <result property="maxBizId" column="max_biz_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insert">

    </insert>

</mapper>